---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>テストページ</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>{200 * 2}</p>
    </body>
</html>

<!--

<Layout>
	<Welcome />
</Layout>

-->
